target
.idea/
/.idea/*
target/
.class
.project
.classpath
*.eclipse.*
*.iml
plugins/
sqlplugins/
lib/
.vertx/
.DS_Store
bin/nohup.out
.DS_Store
bin/sideSql.txt
dependency-reduced-pom.xml
flinkSql-dist/
flinkSql-test/
log/
rocksdb-data/
rocksdb-data-cf/
hs_err_*.log
flinkcdc-dist/